<!-- ***** Hero Area Start ***** -->
<div class="hero-area d-flex align-items-center">

    <!-- Hero Thumbnail -->
     <div class="hero-thumbnail equalize bg-img" style="background-image: url(<%= data.hero.heroImage.url %>?h=1100);"></div>

    <!-- Hero Content -->
    <div class="hero-content equalize">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="line"></div>
                    <h2><%= data.hero.title %></h2>
                    <p><%= data.hero.content %></p>
                    <a href="#" class="btn sonar-btn white-btn">contact me</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Hero Area End ***** -->
