 <div class="portfolio-thumb">
    <img src="<%= work.image.url %>" alt="<% work.title %>">
</div>
<div class="portfolio-meta">
    <p class="portfolio-date"><%= new Date(work.creationDate).toISOString().slice(0,10)  %></p>
    <h2><%= work.title %></h2>
</div>

